@font-face {
	font-family: TTTsarsB;
	font-weight: 300;
	src: url('../fonts/TTTsarsB-Light.ttf');
}

@font-face {
	font-family: Journalism;
	font-weight: 400;
	src: url('../fonts/journalism.ttf');
}

@font-face {
	font-family: Antarctic;
	font-weight: 400;
	src: url('../fonts/Antarctic.otf');
}
