@import '../../assets/scss/main.scss';

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 70px;
	padding: 70px 20px;

	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.7) 100%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url('../../assets/img/location.jpg');
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&Title {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 44px;
		text-align: center;
		color: var(--text-color-light);
	}

	&Wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;

		&__text {
			font-family: var(--font-family);
			font-weight: 300;
			font-size: 22px;
			line-height: 114%;
			letter-spacing: 0.05em;
			text-align: center;
			color: var(--text-color-light);
		}

		&__time {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 70px;
			line-height: 110%;
			text-align: center;
			color: var(--text-color-light);
		}
	}
}
